# 十分钟入门Pandas

In [1]:
# 引入依赖包
import numpy as np
import pandas as pd

## 生成对象

用值列表生成Series时，Pandas默认自动生成整数索引

In [2]:
# 生成数据对象
s = pd.Series([1,3,5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### 用Series字典对象生成DataFrame

In [3]:
dates = pd.date_range('20200101', periods = 6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01 -0.276582  0.124781 -0.869551  0.438410
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027
2020-01-05  0.246978 -0.352160 -0.930268  0.229377
2020-01-06  1.368476  0.187040  0.833314  0.000885

In [5]:
# 用Series字典对象生成DataFrame
df2 = pd.DataFrame({'A': 1.,
                   'B': pd.Timestamp('20200102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([3] * 4, dtype = 'int32'),
                   'E': pd.Categorical(["test", "train", "test", "train"]),
                   'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [6]:
# DataFrame的列有不同的数据类型
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看数据

In [7]:
df.head()

                   A         B         C         D
2020-01-01 -0.276582  0.124781 -0.869551  0.438410
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027
2020-01-05  0.246978 -0.352160 -0.930268  0.229377

In [8]:
df.tail(3)

                   A         B         C         D
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027
2020-01-05  0.246978 -0.352160 -0.930268  0.229377
2020-01-06  1.368476  0.187040  0.833314  0.000885

In [9]:
# 显示索引
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# 显示列名
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
# 转换为numpy
df.to_numpy()

array([[-2.76582335e-01,  1.24780738e-01, -8.69550711e-01,
         4.38410412e-01],
       [ 1.22663755e+00,  3.49243140e-02, -1.86820491e+00,
        -1.01851943e+00],
       [-8.11052392e-01, -2.18417702e+00, -6.22128089e-01,
         1.18239341e+00],
       [-7.01574106e-01,  4.45426701e-01, -1.29190622e+00,
        -1.03102739e+00],
       [ 2.46978054e-01, -3.52160146e-01, -9.30267584e-01,
         2.29376654e-01],
       [ 1.36847623e+00,  1.87039965e-01,  8.33313626e-01,
         8.84509148e-04]])

In [12]:
# 统计摘要
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.175480 -0.290694 -0.791457 -0.033080
std    0.946585  0.963100  0.905953  0.864489
min   -0.811052 -2.184177 -1.868205 -1.031027
25%   -0.595326 -0.255389 -1.201497 -0.763668
50%   -0.014802  0.079853 -0.899909  0.115131
75%    0.981723  0.171475 -0.683984  0.386152
max    1.368476  0.445427  0.833314  1.182393

In [13]:
# 转置数据
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -0.276582    1.226638   -0.811052   -0.701574    0.246978    1.368476
B    0.124781    0.034924   -2.184177    0.445427   -0.352160    0.187040
C   -0.869551   -1.868205   -0.622128   -1.291906   -0.930268    0.833314
D    0.438410   -1.018519    1.182393   -1.031027    0.229377    0.000885

In [14]:
# 按轴排序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01  0.438410 -0.869551  0.124781 -0.276582
2020-01-02 -1.018519 -1.868205  0.034924  1.226638
2020-01-03  1.182393 -0.622128 -2.184177 -0.811052
2020-01-04 -1.031027 -1.291906  0.445427 -0.701574
2020-01-05  0.229377 -0.930268 -0.352160  0.246978
2020-01-06  0.000885  0.833314  0.187040  1.368476

In [15]:
# 按值排序
df.sort_values(by='B')

                   A         B         C         D
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393
2020-01-05  0.246978 -0.352160 -0.930268  0.229377
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-01 -0.276582  0.124781 -0.869551  0.438410
2020-01-06  1.368476  0.187040  0.833314  0.000885
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027

## 选择

In [16]:
# 获取数据 选择单列, 产生Series, 与df.A等效
df['A']

2020-01-01   -0.276582
2020-01-02    1.226638
2020-01-03   -0.811052
2020-01-04   -0.701574
2020-01-05    0.246978
2020-01-06    1.368476
Freq: D, Name: A, dtype: float64

In [17]:
# 用[] 切片
df[0:3]

                   A         B         C         D
2020-01-01 -0.276582  0.124781 -0.869551  0.438410
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393

In [18]:
# 按标签选择 用标签提取一行数据
df.loc[dates[0]]

A   -0.276582
B    0.124781
C   -0.869551
D    0.438410
Name: 2020-01-01 00:00:00, dtype: float64

In [19]:
# 用标签选择多列数据
df.loc[:, ['A', 'B']]

                   A         B
2020-01-01 -0.276582  0.124781
2020-01-02  1.226638  0.034924
2020-01-03 -0.811052 -2.184177
2020-01-04 -0.701574  0.445427
2020-01-05  0.246978 -0.352160
2020-01-06  1.368476  0.187040

In [20]:
# 用标签切片, 包含与列结束点
df.loc['20200102': '20200104', ['A', 'B']]

                   A         B
2020-01-02  1.226638  0.034924
2020-01-03 -0.811052 -2.184177
2020-01-04 -0.701574  0.445427

In [21]:
# 返回对象降维
df.loc['20200102', ['A', 'B']]

A    1.226638
B    0.034924
Name: 2020-01-02 00:00:00, dtype: float64

In [22]:
# 提取标量值
df.loc[dates[0], 'A']

-0.27658233470025817

In [23]:
# 提取标量值
df.at[dates[0], 'A']

-0.27658233470025817

### 按位置选择

In [24]:
# 用整数位置选择
df.iloc[3]

A   -0.701574
B    0.445427
C   -1.291906
D   -1.031027
Name: 2020-01-04 00:00:00, dtype: float64

In [25]:
# 用整数切片
df.iloc[3:5, 0:2]

                   A         B
2020-01-04 -0.701574  0.445427
2020-01-05  0.246978 -0.352160

In [26]:
# 用整数按位置切片
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-01-02  1.226638 -1.868205
2020-01-03 -0.811052 -0.622128
2020-01-05  0.246978 -0.930268

In [27]:
# 显式整行切片
df.iloc[1:3, :]

                   A         B         C         D
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393

In [28]:
# 显式整列切片
df.iloc[:, 1:3]

                   B         C
2020-01-01  0.124781 -0.869551
2020-01-02  0.034924 -1.868205
2020-01-03 -2.184177 -0.622128
2020-01-04  0.445427 -1.291906
2020-01-05 -0.352160 -0.930268
2020-01-06  0.187040  0.833314

In [29]:
# 显式提取值
df.iloc[1, 1]

0.0349243139627274

In [30]:
# 快速访问标量
df.iat[1, 1]

0.0349243139627274

### 布尔索引

In [31]:
# 用单列的值选择数据
df[df.A > 0]

                   A         B         C         D
2020-01-02  1.226638  0.034924 -1.868205 -1.018519
2020-01-05  0.246978 -0.352160 -0.930268  0.229377
2020-01-06  1.368476  0.187040  0.833314  0.000885

In [32]:
# 选择DataFrame里满足条件的值
df[df > 0]

                   A         B         C         D
2020-01-01       NaN  0.124781       NaN  0.438410
2020-01-02  1.226638  0.034924       NaN       NaN
2020-01-03       NaN       NaN       NaN  1.182393
2020-01-04       NaN  0.445427       NaN       NaN
2020-01-05  0.246978       NaN       NaN  0.229377
2020-01-06  1.368476  0.187040  0.833314  0.000885

In [33]:
# 用isin()筛选
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-01-01 -0.276582  0.124781 -0.869551  0.438410    one
2020-01-02  1.226638  0.034924 -1.868205 -1.018519    one
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393    two
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027  three
2020-01-05  0.246978 -0.352160 -0.930268  0.229377   four
2020-01-06  1.368476  0.187040  0.833314  0.000885  three

In [34]:
df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D     E
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393   two
2020-01-05  0.246978 -0.352160 -0.930268  0.229377  four

### 赋值

In [35]:
# 用索引自动对齐新增列的数据
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20200102', periods=6))
s1

2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int64

In [36]:
df['F'] = s1
df

                   A         B         C         D    F
2020-01-01 -0.276582  0.124781 -0.869551  0.438410  NaN
2020-01-02  1.226638  0.034924 -1.868205 -1.018519  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393  2.0
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027  3.0
2020-01-05  0.246978 -0.352160 -0.930268  0.229377  4.0
2020-01-06  1.368476  0.187040  0.833314  0.000885  5.0

In [37]:
# 按标签赋值
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D    F
2020-01-01  0.000000  0.124781 -0.869551  0.438410  NaN
2020-01-02  1.226638  0.034924 -1.868205 -1.018519  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393  2.0
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027  3.0
2020-01-05  0.246978 -0.352160 -0.930268  0.229377  4.0
2020-01-06  1.368476  0.187040  0.833314  0.000885  5.0

In [38]:
# 按位置赋值
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2020-01-01  0.000000  0.000000 -0.869551  0.438410  NaN
2020-01-02  1.226638  0.034924 -1.868205 -1.018519  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  1.182393  2.0
2020-01-04 -0.701574  0.445427 -1.291906 -1.031027  3.0
2020-01-05  0.246978 -0.352160 -0.930268  0.229377  4.0
2020-01-06  1.368476  0.187040  0.833314  0.000885  5.0

In [39]:
# 按numpy数组赋值
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000 -0.869551  5  NaN
2020-01-02  1.226638  0.034924 -1.868205  5  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  5  2.0
2020-01-04 -0.701574  0.445427 -1.291906  5  3.0
2020-01-05  0.246978 -0.352160 -0.930268  5  4.0
2020-01-06  1.368476  0.187040  0.833314  5  5.0

In [40]:
# 用where条件赋值
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2020-01-01  0.000000  0.000000 -0.869551 -5  NaN
2020-01-02 -1.226638 -0.034924 -1.868205 -5 -1.0
2020-01-03 -0.811052 -2.184177 -0.622128 -5 -2.0
2020-01-04 -0.701574 -0.445427 -1.291906 -5 -3.0
2020-01-05 -0.246978 -0.352160 -0.930268 -5 -4.0
2020-01-06 -1.368476 -0.187040 -0.833314 -5 -5.0

## 缺失值

In [41]:
# Pandas主要用np.nan表示缺失数据。计算时，默认不包含空值。
# 重建索引(reindex)可以更改、添加、删除指定轴的索引，并返回数据副本，即不更改原数据

In [42]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2020-01-01  0.000000  0.000000 -0.869551  5  NaN  1.0
2020-01-02  1.226638  0.034924 -1.868205  5  1.0  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  5  2.0  NaN
2020-01-04 -0.701574  0.445427 -1.291906  5  3.0  NaN

In [43]:
# 删除所有含有缺失值的行
df1.dropna(how='any')

                   A         B         C  D    F    E
2020-01-02  1.226638  0.034924 -1.868205  5  1.0  1.0

In [44]:
# 填充缺失值
df1.fillna(value=5)

                   A         B         C  D    F    E
2020-01-01  0.000000  0.000000 -0.869551  5  5.0  1.0
2020-01-02  1.226638  0.034924 -1.868205  5  1.0  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  5  2.0  5.0
2020-01-04 -0.701574  0.445427 -1.291906  5  3.0  5.0

In [45]:
# 提取nan值的布尔掩码
pd.isna(df1)

                A      B      C      D      F      E
2020-01-01  False  False  False  False   True  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

## 运算

### 统计 
一般情况下，运算时排除缺失值

In [46]:
# 描述性统计
df.mean()

A    0.221578
B   -0.311491
C   -0.791457
D    5.000000
F    3.000000
dtype: float64

In [47]:
# 在另一个轴(即，行)上执行同样的操作
df.mean(1)

2020-01-01    1.032612
2020-01-02    1.078671
2020-01-03    0.676528
2020-01-04    1.290389
2020-01-05    1.592910
2020-01-06    2.477766
Freq: D, dtype: float64

In [48]:
# 不同纬度对象运算时，要先对齐。此外，Pandas自动沿指定维度广播
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

In [49]:
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000 -0.869551  5  NaN
2020-01-02  1.226638  0.034924 -1.868205  5  1.0
2020-01-03 -0.811052 -2.184177 -0.622128  5  2.0
2020-01-04 -0.701574  0.445427 -1.291906  5  3.0
2020-01-05  0.246978 -0.352160 -0.930268  5  4.0
2020-01-06  1.368476  0.187040  0.833314  5  5.0

In [50]:
df.sub(s, axis='index')

                   A         B         C    D    F
2020-01-01       NaN       NaN       NaN  NaN  NaN
2020-01-02       NaN       NaN       NaN  NaN  NaN
2020-01-03 -1.811052 -3.184177 -1.622128  4.0  1.0
2020-01-04 -3.701574 -2.554573 -4.291906  2.0  0.0
2020-01-05 -4.753022 -5.352160 -5.930268  0.0 -1.0
2020-01-06       NaN       NaN       NaN  NaN  NaN

### Appy函数

In [51]:
# Apply函数处理数据
df.apply(np.cumsum)

                   A         B         C   D     F
2020-01-01  0.000000  0.000000 -0.869551   5   NaN
2020-01-02  1.226638  0.034924 -2.737756  10   1.0
2020-01-03  0.415585 -2.149253 -3.359884  15   3.0
2020-01-04 -0.285989 -1.703826 -4.651790  20   6.0
2020-01-05 -0.039011 -2.055986 -5.582058  25  10.0
2020-01-06  1.329465 -1.868946 -4.748744  30  15.0

In [52]:
df.apply(lambda x: x.max() - x.min())

A    2.179529
B    2.629604
C    2.701519
D    0.000000
F    4.000000
dtype: float64

### 直方图

In [53]:
# 详见直方图与离散化
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    2
1    4
2    5
3    6
4    1
5    5
6    0
7    4
8    5
9    1
dtype: int64

In [54]:
s.value_counts()

5    3
4    2
1    2
6    1
2    1
0    1
dtype: int64

In [55]:
### 字符串方法
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

## 合并(Merge)

In [56]:
# 结合
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -0.307445  0.203645  1.946080 -1.199377
1  0.175325  1.342226 -0.043748 -1.667105
2 -0.138376  1.622871 -0.669421  1.970857
3 -0.217343  0.615204  0.898612  1.468729
4  1.220798  0.564706  2.140970  0.481216
5 -0.301851 -0.084182  0.771287  0.124297
6  0.204420 -0.999950  0.872187 -0.742207
7  1.047339 -1.482923 -1.056716 -1.481248
8  1.299791  0.420817 -0.428840 -0.190969
9  0.818965  0.106303 -1.642248  0.275122

In [57]:
# 分解为多组
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.307445  0.203645  1.946080 -1.199377
 1  0.175325  1.342226 -0.043748 -1.667105
 2 -0.138376  1.622871 -0.669421  1.970857,
           0         1         2         3
 3 -0.217343  0.615204  0.898612  1.468729
 4  1.220798  0.564706  2.140970  0.481216
 5 -0.301851 -0.084182  0.771287  0.124297
 6  0.204420 -0.999950  0.872187 -0.742207,
           0         1         2         3
 7  1.047339 -1.482923 -1.056716 -1.481248
 8  1.299791  0.420817 -0.428840 -0.190969
 9  0.818965  0.106303 -1.642248  0.275122]

In [58]:
pd.concat(pieces)

          0         1         2         3
0 -0.307445  0.203645  1.946080 -1.199377
1  0.175325  1.342226 -0.043748 -1.667105
2 -0.138376  1.622871 -0.669421  1.970857
3 -0.217343  0.615204  0.898612  1.468729
4  1.220798  0.564706  2.140970  0.481216
5 -0.301851 -0.084182  0.771287  0.124297
6  0.204420 -0.999950  0.872187 -0.742207
7  1.047339 -1.482923 -1.056716 -1.481248
8  1.299791  0.420817 -0.428840 -0.190969
9  0.818965  0.106303 -1.642248  0.275122

### 连接

In [59]:
# SQL风格的合并
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

   key  lval
0  foo     1
1  foo     2

In [60]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  foo     5

In [61]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [62]:
# 另外的例子
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1,2]})
left

   key  lval
0  foo     1
1  bar     2

In [63]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

   key  rval
0  foo     4
1  bar     5

In [64]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

### 追加(Append)

In [65]:
# 为DataFrame追加数据
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.327864 -0.535396 -0.105270  0.708981
1  0.269723  0.953468 -0.159197 -0.448642
2 -1.293593  0.266329  0.748559  0.532316
3  0.569670  0.864279  0.071989  0.809912
4 -0.226493 -1.068328  0.123823 -1.489540
5  0.306940 -1.313699  2.008553  0.358355
6 -0.125691  0.174016 -4.092851 -0.511547
7 -0.853991 -0.835701  0.334660  1.797688

In [66]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.327864 -0.535396 -0.105270  0.708981
1  0.269723  0.953468 -0.159197 -0.448642
2 -1.293593  0.266329  0.748559  0.532316
3  0.569670  0.864279  0.071989  0.809912
4 -0.226493 -1.068328  0.123823 -1.489540
5  0.306940 -1.313699  2.008553  0.358355
6 -0.125691  0.174016 -4.092851 -0.511547
7 -0.853991 -0.835701  0.334660  1.797688
8  0.569670  0.864279  0.071989  0.809912

## 分组(Grouping)

"group by" 指的是涵盖下列一项或多项步骤的处理流程
- 分割: 按条件把数据分割成多组；
- 应用: 为每组单独应用函数；
- 组合: 将处理结果组合成一个数据结构。

In [67]:
 df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.581340  1.180351
1  bar    one -0.870455  0.439144
2  foo    two  1.514991  0.370949
3  bar  three  1.262950  1.426539
4  foo    two -0.683596 -1.621014
5  bar    two -0.914111  1.486541
6  foo    one -0.254307  0.112365
7  foo  three -3.360975  0.904598

In [68]:
# 先分组,再用sum()函数计算每组的汇总数据
df.groupby('A').sum()

            C         D
A
bar -0.521615  3.352225
foo -4.365228  0.947248

In [69]:
# 多列分组后, 生成多层索引, 也可以应用sum函数
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.870455  0.439144
    three  1.262950  1.426539
    two   -0.914111  1.486541
foo one   -1.835647  1.292716
    three -3.360975  0.904598
    two    0.831394 -1.250066

## 重塑(Reshaping)

In [70]:
# 堆叠(stack)
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz','foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two','one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [71]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [72]:
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A','B'])
df

                     A         B
first second
bar   one    -0.695244 -0.192662
      two     1.454282  0.663241
baz   one    -0.653565 -1.561428
      two    -0.816593 -0.212258
foo   one    -2.684652 -0.232148
      two     1.686415  0.879953
qux   one    -0.489586  0.950569
      two     1.976313 -0.519098

In [73]:
df2 = df[:4]
df2

                     A         B
first second
bar   one    -0.695244 -0.192662
      two     1.454282  0.663241
baz   one    -0.653565 -1.561428
      two    -0.816593 -0.212258

In [74]:
# stack()方法把DataFrame列压缩至一层
stacked = df2.stack()
stacked

first  second
bar    one     A   -0.695244
               B   -0.192662
       two     A    1.454282
               B    0.663241
baz    one     A   -0.653565
               B   -1.561428
       two     A   -0.816593
               B   -0.212258
dtype: float64

In [75]:
# 压缩后DataFrame或Series具有多层索引, stack()的逆操作是unstack(), 默认为折叠最后一层
stacked.unstack()

                     A         B
first second
bar   one    -0.695244 -0.192662
      two     1.454282  0.663241
baz   one    -0.653565 -1.561428
      two    -0.816593 -0.212258

In [76]:
stacked.unstack(1)

second        one       two
first
bar   A -0.695244  1.454282
      B -0.192662  0.663241
baz   A -0.653565 -0.816593
      B -1.561428 -0.212258

In [77]:
stacked.unstack(0)

first          bar       baz
second
one    A -0.695244 -0.653565
       B -0.192662 -1.561428
two    A  1.454282 -0.816593
       B  0.663241 -0.212258

## 数据透视表(Pivot Tables)

In [78]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                   'B': ['A', 'B', 'C'] * 4,
                   'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D': np.random.randn(12),
                   'E': np.random.randn(12)})
df

        A  B    C         D         E
0     one  A  foo  0.924296  0.680771
1     one  B  foo  1.590630  0.747077
2     two  C  foo  1.194510  1.173453
3   three  A  bar -0.044068 -0.654742
4     one  B  bar  1.124305 -0.382614
5     one  C  bar -0.479012  0.853769
6     two  A  foo -0.107504 -1.018915
7   three  B  foo  0.350926 -0.090389
8     one  C  foo -0.440085  0.448225
9     one  A  bar -1.527494  1.070971
10    two  B  bar -0.528278  0.776577
11  three  C  bar -0.465320  1.230397

In [79]:
pd.pivot_table(df, values='D', index=['A','B'], columns=['C'])

C             bar       foo
A     B
one   A -1.527494  0.924296
      B  1.124305  1.590630
      C -0.479012 -0.440085
three A -0.044068       NaN
      B       NaN  0.350926
      C -0.465320       NaN
two   A       NaN -0.107504
      B -0.528278       NaN
      C       NaN  1.194510

## 时间序列(TimeSeries)
Pandas 为频率转换时重采样提供了虽然简单易用，但强大高效的功能，如，将秒级的数据转换为 5 分钟为频率的数据。这种操作常见于财务应用程序，但又不仅限于此。详见时间序列 。

In [80]:
rng = pd.date_range('1/1/2012', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

2012-01-01    24072
Freq: 5T, dtype: int64

In [81]:
# 时区表示
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

2012-03-06   -0.763601
2012-03-07   -0.742879
2012-03-08   -1.070561
2012-03-09   -0.194806
2012-03-10    0.121020
Freq: D, dtype: float64

In [82]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-06 00:00:00+00:00   -0.763601
2012-03-07 00:00:00+00:00   -0.742879
2012-03-08 00:00:00+00:00   -1.070561
2012-03-09 00:00:00+00:00   -0.194806
2012-03-10 00:00:00+00:00    0.121020
Freq: D, dtype: float64

In [83]:
# 转换为其他时区
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00   -0.763601
2012-03-06 19:00:00-05:00   -0.742879
2012-03-07 19:00:00-05:00   -1.070561
2012-03-08 19:00:00-05:00   -0.194806
2012-03-09 19:00:00-05:00    0.121020
Freq: D, dtype: float64

In [84]:
# 转换时间段
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31    0.942006
2012-02-29   -0.426219
2012-03-31    1.256115
2012-04-30    1.854994
2012-05-31    1.520373
Freq: M, dtype: float64

In [85]:
ps = ts.to_period()
ps

2012-01    0.942006
2012-02   -0.426219
2012-03    1.256115
2012-04    1.854994
2012-05    1.520373
Freq: M, dtype: float64

In [86]:
ps.to_timestamp()

2012-01-01    0.942006
2012-02-01   -0.426219
2012-03-01    1.256115
2012-04-01    1.854994
2012-05-01    1.520373
Freq: MS, dtype: float64

In [87]:
# Pandas 函数可以很方便地转换时间段与时间戳。下例把以 11 月为结束年份的季度频率转换为下一季度月末上午 9 点：
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

1990-03-01 09:00   -1.732306
1990-06-01 09:00    1.041810
1990-09-01 09:00    0.034725
1990-12-01 09:00    0.522585
1991-03-01 09:00   -1.127921
Freq: H, dtype: float64

## 类别型(Categoricals)

In [88]:
df = pd.DataFrame({"id": [1, 2, 3, 4, 5, 6], "raw_grade": ['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']

In [89]:
# 用有含义的名字重命名不同类型，调用 Series.cat.categories。
df["grade"].cat.categories = ["very good", "good", "very bad"]
# 重新排序各类别，并添加缺失类，Series.cat 的方法默认返回新 Series。

In [90]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium","good", "very good"])
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): ['very bad', 'bad', 'medium', 'good', 'very good']

In [91]:
# 注意，这里是按生成类别时的顺序排序，不是按词汇排序：
df.sort_values(by="grade")
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

## 可视化

In [92]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

FileNotFoundError: [Errno 2] No such file or directory: 'kpsewhich': 'kpsewhich'